.btn-container {
  margin-top: 10px;
}

.btn {
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  color: black;
}

.btn:hover {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}